body{
    font-family: Arial, sans-serif;
    background-color: #F1FAEE;
    color: #1D3557;
}

.org img {
  width: 120px;      
  max-height: 120px; 
    display: block;
    border-radius: 10px;
  
}
.Contenedororganizaciones2{
  display: flex;
  gap: 30px;
}