body {
  font-family: Arial, sans-serif;
  background-color: #f1faee;
  color: #1d3557;
}

.org img {
  width: 120px;
  max-height: 120px;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.Contenedororganizaciones2 {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

#historial {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  height: 100vh;
  background-color: #ffffff;
  border-left: 2px solid #1d3557;
  padding: 10px;
  overflow-y: auto;
}

.resaltado {
  background-color: #ffd166;
}

#resumen {
  margin-top: 20px;
  padding: 10px;
}

#resultado {
  margin-top: 10px;
  white-space: pre-line;
}

button {
  background-color: #1954a7;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}

/* parte 2 de la practica */




#listaDonaciones {
    height: 100%;
    max-height: 450px;    
    overflow-y: auto;
    padding: 10px;
}



.donacion-ultima {
    background-color: #a56806; 
    color: #e41212;
}


.donacion-previa {
    background-color: #f1c511; 
}

.formVacio {
  color: #f00707;

}
